.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  text-align: center;
  height: 100dvh;
  min-height: 500px;
  padding: 0 30px;

  .profile {
    max-width: 200px;
  }

  .link {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--lnk-color);
    text-decoration: none;
    padding: 0px 5px;
    border-radius: 3px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 0.3s ease;
    margin: 20px auto;
    width: fit-content;
  }

  .link:hover {
    transform: scale(1.05);
  }

  .link img {
    margin-left: 5px;
    width: 30px;
    height: auto;
  }

  .link p {
    color: var(--lnk-text-color);
    margin: 0;
  }

  .colorMode {
    width: 45px;
  }

  .colorMode:hover {
    cursor: pointer;
    transform: scale(1.05);
  }
}

@media (width >= 800px) {
  .experiencesContainer {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 120px;
  }
}

@media (width >= 1400px) {
  .experiencesContainer {
    padding: 0 300px;
  }
}
